{% extends 'base.html' %}

{% block body %}

<div class="inner-banner py-5">
    <section class="w3l-breadcrumb text-left py-sm-5 ">
        <div class="container">
            <div class="w3breadcrumb-gids">
                <div class="w3breadcrumb-left text-left">
                    <h2 class="inner-w3-title">
                        About Us </h2>
                    <p class="inner-page-para mt-2">
                        Better Printing
                        for Better Future</p>
                </div>
                <div class="w3breadcrumb-right">
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><span class="fas fa-angle-double-right mx-2"></span> About Us</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
</div>




<section class="w3l-banner-agency py-5" id="work">
    <div class="midd-w3 py-md-4">
        <div class="container">
            <div class="about-img-top mb-lg-5 mb-4">
                <img src="/media/assets/images/work_press.jpg" alt="" class="img-fluid radius-image">
            </div>
            <div class="row">
                <div class="col-lg-6 banner-content align-self">
                    <h6 class="title-subw3hny">About Us</h6>
                    <h3 class="title-w3l"> Bharat <span class="sub-color"> Print</span></h3>
                    <p>Offering shine to excellence
                        Printing Stuff</p>
                    <div class="w3banner-content-btns">
                        <a href="about.html" class="btn btn-style btn-primary mt-lg-5 mt-4 me-2">Read More <i class="fas fa-arrow-right ms-2"></i></a>
                        <a href="{% url 'cont' %}" class="btn btn-style btn-outline-dark mt-lg-5 mt-4">Contact Us <i class="fas fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 text-left ps-lg-5 mt-lg-0 mt-md-5 mt-4">
                    <p>Welcome to <b class="text-success ">Bharat Print</b>, your premier destination for high-quality printing and graphic services. With <b class="sub-color"> 28 years of experience in the industry </b> , we've earned a reputation for excellence, delivering exceptional results for clients across<b class="text-success"> Mumbai , India</b>.</p>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="w3l-blog-se-3 py-5" id="ab-grids">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5 py-md-4 py-2">
            <!--/services-grids-->
            <div class="row blog-sec">
                <div class="col-lg-4 manager-img mb-lg-0 mb-md-5 mb-4 pe-lg-5">
                    <h6 class="title-subw3hny">What we do</h6>
                    <h3 class="title-w3l">Create ready-for   <span class="sub-color">print designs </span> with hundreds of /media/assets</h3>
                    <p class="card-text mt-3">
                        Lorem ipsum viverra feugiat. Pellen tesque libero ut justo in
                        ligula.
                    </p>
                    <a href="tel:+44-123-456-78" class="btn btn-style btn-primary mt-lg-5 mt-4"><span class="fas fa-phone-alt" aria-hidden="true"></span> +00-123-456-78</a>


                </div>
                <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left">
                    <div class="card img">
                        <div class="card-body img">
                            <a href="#" class="d-block zoom radius-image"><img src="/media/assets/images/ps12.c828ecfa.jpg" alt="" class="img-fluid radius-image"></a>
                            <div class="blog-des mt-4">
                                <h5 class="card-title mt-4">Our Goal</h5>
                                <p class="card-text">Bharat Print's goal has always been to lead the industry by adapting to new technologies and designing solutions to cater to a wide range of customer requirements.</p>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-md-0 mt-5">
                    <div class="card img">
                        <div class="card-body img">
                            <a href="#" class="d-block zoom radius-image"><img src="/media/assets/images/about-pic3.jpg" alt="" class="img-fluid radius-image"></a>
                            <div class="blog-des mt-3">
                                <h5 class="card-title mt-4">Our Vision</h5>
                                <p class="card-text">Our Printing Works has always aimed at providing a smooth, hassle-free and a memorable experience to their customers with a prime focus on establishing a long lasting relationship.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







{% endblock %}