
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

</script>
<!-- //move top -->

<!-- Template JavaScript -->
<script src="/media/assets/js/jquery-3.3.1.min.js"></script>
<script src="/media/assets/js/theme-change.js"></script>
<script src="/media/assets/js/circles.js"></script>



<!-- MENU-JS -->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
    var currentPath = window.location.pathname;
    var navLinks = document.querySelectorAll('nav a');
 
    for (var i = 0; i < navLinks.length; i++) {
        var link = navLinks[i];
        if (link.getAttribute('href') === currentPath) {
            link.classList.add('active');
        }
    }
</script>
<!-- //MENU-JS -->

<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });

</script>
<!-- //disable body scroll which navbar is in active -->
<!-- //bootstrap -->
<script src="/media/assets/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js"></script>


<script>
    const splide = new Splide('#service_slider', {
        type: 'loop',
        drag: 'free',
        pauseOnHover: false,
        pauseOnFocus: false,
        arrows: false,
        pagination: false,
        perPage: 3,
        padding: '10%',
        autoScroll: {
            speed: 1,
        },
        breakpoints: {
            '1024': {
                perPage: 2,
            },
            '640': {
                perPage: 1,
            },
            '430': {
                perPage: 1,
            },
        },
    });
    splide.mount(window.splide.Extensions);
</script>

